@use "./abstracts/functions";
@use "./abstracts/mixins";
@use "./abstracts/variables" as v;

@use "./base/animation";
@use "./base/base";
@use "./base/typography";
@use "./base/utilities";

@use "./components/button";

@use "./layout/header";

@use "./pages/home";




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px; */

    /* 10/16 = 0.625 */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

}